doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Contact
    link(rel="stylesheet" type="text/css" href="styles/form.css")
h1  Contact Us
form#fContact(method="POST" action="mailto:marciaopcardoso@gmail.com" )
  fieldset#user
    legend User ID
    p
      label(for="cName") Name:
      input#cName(type="text" name="tName" size="20" maxlength="25")
    p
      label(for="lastName") Last Name:
      input#lastName(type="text" name="lName" size="20" maxlength="25")
    p
      label(for="cMail") E-mail:
      input#cMail(type="e-mail" name="tMail" size="20" maxlength="40")
    p
      label(for="cPhone") Phone Number:
      input#mphone(type="phone" name="nPhone" size="20" maxlength="25")
  fieldset#message
    legend User Message:
    p
      label(for="cMsg") Message:
    textarea#cMsg(name="tMessage" cols="45" rows="5")
  input(type="submit" name="button" value="Send" onclick="this.form.reset();alert('Your message has been sent successfully')")