section
      article
        .draw
          img#cpr(src="images/cpr.jpg") 
        h2 What is CPR?
        p
          | CPR (Cardiopulmonary Resuscitation) is an emergency procedure that can restore blood flow to someone suffering cardiac arrest, keeping the victim alive until advanced medical care arrives.
      article
        h2 What is an AED?
        p
          | An Automated External Defibrillator (AED) is a device that can check heart rhythms and deliver an electrical shock to restore its natural rhythms when needed.
        .draw
          img#aed(src="images/aed.jpg")  
      article
        h2 How can CPR and an AED help?
        p
          | When the heart stops beating in cardiac arrest, it no longer pumps blood to the body. The brain and organs can be seriously damaged without oxygen and nutrients from blood and the person can die within minutes if not treated immediately. CPR can help maintain blood flow and ventilation in a victim of cardiac arrest for a short period.
          | Arrhythmias (abnormal heart rhythms) such as ventricular fibrillation cause most cardiac arrests. Using an AED can restore the heart’s normal rhythm in the event of cardiac arrest.
      article
        h2 What can you do?
        p
          | Most cardiac arrests occur in homes and public places, and many are witnessed by a family member, co-worker or friend. The survival rate of cardiac arrest outside a hospital is very low. Performing CPR and using an AED before Emergency Medical Services arrive can increase the chance of survival by up to 75%. AEDs are safe and easy to use. The Foundation urges anyone in close contact with those at high-risk of cardiac arrest to become trained in the use of AEDs.
        p If you are with an adult who has a cardiac arrest:
        ul
          li  Yell for help
          li
            | Tell someone to call 9-1-1 or your emergency response number and get an AED (if one is available).
          li If you are alone, call 9-1-1 and get an AED (if one is available).
        p Check breathing:
        ul
          li If the person isn't breathing or is only gasping, give CPR.
          li Push hard and push fast
          li Use an AED as soon as it arrives by turning it on and following the prompts.
          li
            | Keep pushing until the person starts to breathe or move or someone with more advanced training takes over.
