      section#emergencies
        h1 Emergencies
        hr
        h2 Cuts and Scrapes
        #video
          iframe(width="560" height="315" src="https://www.youtube.com/embed/L77rERL64zc?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="")
        h3 IT IS OFTEN CAUSED BY:
        p A blow to the mouth;
        p An accident involving the face;
        p While playing contact sports;
        h3 CHECK:
        p The scene quickly to figure out if the local is safe;
        p The person´s ABCs;
        h3 CALL EMS/9-1-1 IF:
        p The tooth was knocked out by a forceful blow;
        p You suspect more serious injuries;
        h3 CARE:
        p Have the person bite down on a clean dressing;
        p Carefully pick up the tooth by the crown (the white part) and keep it protected;
        p
          | Protect the tooth by putting it in egg white, coconut water, saline or whole milk, or wrapping the tooth in gauze
          | or a clean cloth with some of the person´s saliva;
        h3 IMPORTANT:
        p
          | The tooth can be replaced in the socket successfully if you take the right action as soon as possible.
