include emergency
doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title My comItProject
    link(rel="stylesheet" type="text/css" href="styles/style.css")
  body
    #interface
      img#icon(src="images/redcross.jpg")
      header#head
        #mainheader
          h1 The Challenge of First Aid
        nav#menu
          ul
            li
              a(href="/") Home
            li
              a(href="surveySteps.pug") First Aid Survey Steps
            li
              a Emergencies
              ul
                li
                  a(href="html/emergencies/knockedOut.html") Knocked-out-teeth
                li
                  a(href="html/emergencies/cutsAndScrapes.html") Cuts and Scrapes
                li
                  a Bruises
                li
                  a Deadly Bleeding
                li
                  a Impaled Objects
                li
                  a Amputations
                li
                  a Burns
                li
                  a Choking
                li
                  a Head, Neck, Spinal Injuries
                li
                  a Bone, Muscles, Joint Injuries
                li
                  a Shock
                li
                  a Hearth Attack
                li
                  a Drowning
                li
                  a Allergy
            li
              a EMS/9-1-1
            li
              a External Links
              ul
                li
                  a First Aid Courses
                li
                  a Canadian Law
            li
              a Contact
              ul
                li
                  a Collaborate with page
                li
                  a(href="contact") Contact us
      section#body
            +emergency({ 
          "name" : "Knocked-out-teeth",
          "photo" : "https://www.youtube.com/embed/KhHyIeionv8?rel=0", 
          "definition" :"An avulsed tooth is one that has been knocked out",
          "causes": ["a blow to the mouth", "an accident involving the face", "while playing contact sports"],
          "checkScene": "the scene quickly to figure out if the local is safe", 
          "checkPerson": " check the person´s ABCs",
          "call911If": ["the tooth was knocked out by a forceful blow", "you suspect more serious injuries"],
          "care": ["have the person bite down on a clean dressing", "carefully pick up the tooth by the crown - the white part- and keep it protected", "protected the tooth by putting it in egg white, coconut water, saline or whole milk, or wrapping the tooth in gauze or a clean cloth with some of the person´s saliva"],
          "important": ["The tooth can be replaced in the socket successfully if you take the right action as soon as possible."]
            })
            
        
      aside#side
      footer
        p
          | Copyright © 2018 - by Marcia Okamoto Patriota Cardoso
          br
          a(href="https://www.facebook.com/marcia.cardoso.52643821?ref=bookmarks" target="blank") Facebook
