doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title My comItProject
    link(rel="stylesheet" type="text/css" href="styles/style.css")
    script.
      function loadContentInBody(contentURL){
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
      document.getElementById("body").innerHTML = this.responseText;
      }
      };
      xhttp.open("GET", contentURL, true);
      xhttp.send();
      }
  body
    #interface
      img#icon(src="images/redcross.jpg")
      header#head
        #mainheader
          h1 The Challenge of First Aid
        nav#menu
          ul
            li
              a(href="/") Home
            li
              a First Aid Survey Steps
              ul
                li
                  a(href="#" onclick="loadContentInBody('primarySteps')") Primary Steps
                li
                  a(href="#" onclick="loadContentInBody('secondarySteps')") Secondary Steps
            li
              a Emergencies
              ul
                li
                  a(href="#" onclick="loadContentInBody('knockedOut')") Knocked-out-teeth
                li
                  a(href="#" onclick="loadContentInBody('cutsAndScrapes')") Cuts and Scrapes
                li
                  a(href="#" onclick="loadContentInBody('bruises')") Bruises
                li
                  a(href="#" onclick="loadContentInBody('externalDeadlyBleeding')") External Deadly Bleeding
                li
                  a(href="#" onclick="loadContentInBody('internalDeadlyBleeding')") Internal Deadly Bleeding
                li
                  a(href="#" onclick="loadContentInBody('impaledObjects')") Impaled Objects
                li
                  a(href="#" onclick="loadContentInBody('amputations')") Amputations
                li
                  a(href="#" onclick="loadContentInBody('burns')") Burns
                li
                  a(href="#" onclick="loadContentInBody('bonesMuscleAndJointInjuries')") Bone, Muscles, Joint Injuries
            li
              a(href="#" onclick="loadContentInBody('cpr')") CPR
            li
              a Contact
              ul
                li
                  a(href="#" onclick="loadContentInBody('contact')") Contact us
  section#body
      article#goal
        .draw
          img#why(src="images/why.jpg")
        h2 Why to study First Aid?
        p
          | This training will give you the confidence and knowledge to respond quickly and safely in an emergency. Learning first aid will help you know what to do for problems like burns, cuts, head injuries, and broken bones. Find out more about first
          | aid. Knowing CPR can help when someone's heart or breathing has stopped.
        p
          strong CPR??
        | CPR is a medical technique for reviving someone whose heart has stopped beating by pressing on their chest and breathing into their mouth. CPR is an abbreviation for 
        strong cardiopulmonary resuscitation.
        .draw
          img#what(src="images/find.png")
        h2 What will you find here?
        p
          | You will find a lot of emergencies and the first aid steps for each one.This website aims to teach quickly and easily how to deal with emergencies in your day-to-day life.
        .draw
          img#collaborate(src="images/collaboration.jpg")
        h2 Colaborate
        p
          | You can collaborate with our page by sending in the contact page your opinions and your doubts.
        p Welcome and Enjoy it!!
footer
  p
    | Copyright © 2018 - by Marcia Okamoto Patriota Cardoso
  br
