doctype html
html
  head
    title  Knocked out teeth 
    style.
      h1 {
      text-align: center;
      font-size: 30px;
      color: black;
      }
      figure {
      float: right;
      width: 317px;
      text-align: center;
      font-style: italic;
      font-size: smaller;
      text-indent: 0;
      border: thin silver solid;
      margin: 0.5em;
      padding: 0.5em;
      }
  body
    h1 Knocked-out Teeth
    iframe(src='https://youtu.be/KhHyIeionv8', height='200', width='200', seamless='', frameborder='0')
    figure
      img(src='../images/knocked-out-teeth.jpg', alt='knocked-out-teeth', title='Teeth')
      figcaption Knocked-Out Teeth
    div
      h3 IT IS OFTEN CAUSED BY:
      ul
        li A blow to the mouth;
        li An accident involving the face;
        li While playing contact sports;
    div
      h3 CHECK:
      ul
        li The scene quickly to figure out if the local is safe;
        li The person´s ABCs;
    div
      h3 CALL EMS/9-1-1 IF:
      ul
        li The tooth was knocked out by a forceful blow;
        li You suspect more serious injuries;
    div
      h3 CARE:
      ul
        li Have the person bite down on a clean dressing;
        li Carefully pick up the tooth by the crown (the white part) and keep it protected;
        li
          | Protect the tooth by putting it in egg white, coconut water, saline or whole milk, or wrapping the tooth in gauze
          | or a clean cloth with some of the person´s saliva;
    div
      h3 IMPORTANT:
      ul
        li
          | The tooth can be replaced in the socket successfully if you take the right action as soon as possible.
