doctype html
html
  head
    title  First Aid Survey Steps 
    link(rel="stylesheet" type="text/css" href="styles/surveySteps.css")
  body#survey
    article#interFaceSteps
      header
        h1 First Aid Survey Steps
    article
      header
        h2 PRIMARY STEPS:
        p
          | When you encounter an ill or injured person, you will repeat the check, call, care steps until the person´s condition
          | improves or EMS personnel arrive.
        h2 1-CHECK:
        h3 CHECK THE SCENE:
        figure
          img(src="../images/checkScene.jpg")
          figcaption Check the Scene
        h4 Before approaching an ill or injured person, stop and take a good look at the scene:
        ul
          li Is the scene safe?
          li Are there any hazards?
          li What happened?
          li How did it happen?
        h3 CHECK THE PERSON:
        p If the scene is safe, quickly check the person:
        ul
          li Check if the person is reponsive;
          li
            | Check the ABCs:
            ul
              li Airway 
              li Breathing
              li Circulation
    article
      header
        h4 Checking ABCs:
        h4 a-Airway:
        p
          | Make sure the person has an open airway. If the person is speaking, moaning, or crying, the person´s airway is
          | open. If the person is unresponsive, perform a head-tilt/chin-lift by gently tilting the head back until
          | the chin is pointing up.
      figure
        img(src="../images/airWay.jpg")
        figcaption Check the Airway
    article
      header
        h4 b-Breathing:
        p
          | Check for normal breathing for 5 to 10 seconds. A person is breathing normally if air is moving into and out
          | of the lungs and the chest is rising and falling in a normal, regular pattern. Someone who can speak or cry
          | is breathing.
      figure
        img(src="../images/checkBreathing.jpg")
        figcaption Check the Breathing
    article
      header
        h4 c-Circulation:
        p
          | Quickly look at the person from head to toe for signs of life-threatening bleeding.
      figure
        img(src="../images/circulation.jpg")
        figcaption Check the Circulation
    article
      header
        h2 2-CALL EMS/9-1-1:
        ul
          li
            | If an individual is unresponsive or has a life-threatening condition, you must always activate EMS.
          li Whenever possible, use a mobile phone or ask a bystander to call EMS/9-1-1.
          li
            | If you are alone with the person and you do not have a mobile phone, call out loudly for help. If no one
            | comes, get to a phone as quickly as you can and call EMS/9-1-1. As soon as you hang up, return to the
            | person.
          li
            | If a person becomes unresponsive or his or her vital signs deteriorate, call EMS/9-1-1 immediately.
    article
      header
        h2 3-CARE:
        p
          | Care for any life-threatening conditions first. Give the care that is needed, within the scope of your knowledge
          | and training. Continue to Check, Call and Care, providing continual care with these guidelines:
        ul
          li Monitor the person´s breathing, level os responsiveness, and overall condition.
          li Help the person rest in a comfortable position.
          li
            | If necessary, roll the person into the
            b  "recovery position"(1)
            | .
          li Keep the person from getting chilled or overheated.
          li Reassure the person.
          li
            | Help the person with medication: if it is safe, if the person is responsive and has in some way expressed
            | a need for help finding, preparing, and/or taking the madication.
        figure 
          img#fig2(src="../images/recoveryPosition.jpg")
          figcaption Recovery Position 2
        figure  
          img#fig1(src="../images/recoveryPosition0.jpg")
          figcaption Recovery Position 1    
        h4
          b (1)"Recovery Position":
            |  a person who is unresponsive or has an altered level of responsiveness should
            |                 be rolled into the recovery position. When placing a person in the recovery position, remember:
        ul
          li Support and protect the head while rolling the person;
          li Try to roll the person as one unit (head, back, and legs at the same time);
          li Roll the person into a position where the body will stay safely on its side;
          li Check the ABCs after you complete the roll.
      