doctype html
html
  head
    title  First Aid Survey Steps 
    link(rel="stylesheet" type="text/css" href="styles/surveySteps.css")
  body#survey
    article#interFaceSteps
      header
        h1 First Aid Survey Steps
    article
      header
        h2 SECONDARY STEPS:
        p
          | Once you are confident that all life-threatening conditions have been addressed, perform a secondary assessment
          | to check for conditions that may not be as obvious. The secondary assessmente consists of three steps:
        h3 1- Ask SAMPLE questions:
        p
          | Interview the ill or injured person and any bystanders at the scene using the acronym SAMPLE to guide your questions:
        ul
          li S igns and symptoms;
          li A llergies;
          li M edications;
          li P ast medical history;
          li L ast oral intake(food or drink);
          li  E vents leading up to the emergency;
        h3 2- Check the vital signs:
        ul
          li
            | Level of Responsiveness: is the person alert, sleepy, or confused? Is the person´s responsiveness changing?
          li
            | Breathing: listen for sounds. Is the breathing fast or slow? Shallow or deep? Painful?
          li Skin: Is skin dry or wet? An unusual colour or temperature?
        h3 3- Perform an Injury Check:
        p
          | look carefully for injuries that were not identified during the primary assessment. An injury check may involve
          | a focused examination or a hands-on check. If you find a medical-identification product during your check,
          | read it carefully.
        ul
          li
            | Level of Responsiveness: is the person alert, sleepy, or confused? Is the person´s responsiveness changing?
          li
            | Breathing: listen for sounds. Is the breathing fast or slow? Shallow or deep? Painful?
          li Skin: Is skin dry or wet? An unusual colour or temperature?
        h3 4- Focused Examination: 
        p
          | If the person is responsive and able to answer questions, do a focused examination. If the person´s condition
          | deteriorates, respond immediately.(call 9-1-1, provide care).
        ul
          li Explain that the purpose of the examination is to identify injuries.
          li  Ask the person if anything hurts or feels uncomfortable.
          li
            | If the person indicates an area of pain or concern, look at the area for signs of injury.
          li Ask focused questions about how the person feels.
        h3 5- Hands-on check: 
        p
          | If a person is breathing but unresponsive or unable to communicate, you may need to do a hands-on check. Begin
          | by cheking the head for injuries, and then work downward, focusing on the chest, abdomen, and legs before
          | checking tha arms.
