doctype html
html
  head
    title  First Aid Survey Steps 
    style.
      @font-face {
      font-family: 'FonteLogo';
      src: url("../fonts/LoveYaLikeASister.ttf");
      }
      body {
      font-family: 'FonteLogo';
      font-size: 15pt;
      }
      h1 {
      text-align: center;
      font-size: 30px;
      color: black;
      }
      figure {
      float: right;
      width: 308px;
      text-align: center;
      font-style: italic;
      font-size: smaller;
      text-indent: 0;
      border: thin white;
      box-shadow: 1px 1px 4px black;
      margin: 0.5em;
      padding: 0.5em;
      }
      article#interfacesteps {
      width: 800px;
      padding: 10px;
      }
      p {
      text-align: justify;
      text-indent: 20px;
      }
  body
    article#interFaceSteps
      header
        h1 First Aid Survey Steps
        h2 Primary and Secondary Steps
      figure
        img(src="../images/checkScene.jpg" alt="checkScene" title="Scene")
        figcaption Check the Scene
    article
      header
        h2 PRIMARY STEPS:
        p
          | When you encounter an ill or injured person, you will repeat the check, call, care steps until the person´s condition
          | improves or EMS personnel arrive.
        h2 1-CHECK:
        h3 CHECK THE SCENE:
        h4
          | Before approaching an ill or injured person, stop and take a good look at the scene:
        ul
          li Is the scene safe?
          li Are there any hazards?
          li What happened?
          li How did it happen?
        h3 CHECK THE PERSON:
        p If the scene is safe, quickly check the person:
        ul
          li Check if the person is reponsive;
          li
            | Check the ABCs:
            ul
              li Airway 
              li Breathing
              li Circulation
    article
      header
        h4 Checking ABCs:
        h4 Airway:
        p
          | Make sure the person has an open airway. If the person is speaking, moaning, or crying, the person´s airway is
          | open. If the person is unresponsive, perform a head-tilt/chin-lift by gently tilting the head back until
          | the chin is pointing up.
      figure
        img(src="../images/airWay.jpg" alt="checkairWay" title="Air")
        figcaption Check the Airway
    article
      header
        h4 Breathing:
        p
          | Check for normal breathing for 5 to 10 seconds. A person is breathing normally if air is moving into and out
          | of the lungs and the chest is rising and falling in a normal, regular pattern. Someone who can speak or cry
          | is breathing.
      figure
        img(src="../images/checkBreathing.jpg" alt="checkbreathing" title="Breathing")
        figcaption Check the Breathing
    article
      header
        h4 Circulation:
        p
          | Quickly look at the person from head to toe for signs of life-threatening bleeding.
      figure
        img(src="../images/circulation.jpg" alt="circulation" title="blood")
        figcaption Check the Circulation
    article
      header
        h2 2-CALL EMS/9-1-1:
        ul
          li
            | If an individual is unresponsive or has a life-threatening condition, you must always activate EMS.
          li Whenever possible, use a mobile phone or ask a bystander to call EMS/9-1-1.
          li
            | If you are alone with the person and you do not have a mobile phone, call out loudly for help. If no one
            | comes, get to a phone as quickly as you can and call EMS/9-1-1. As soon as you hang up, return to the
            | person.
          li
            | If a person becomes unresponsive or his or her vital signs deteriorate, call EMS/9-1-1 immediately.
    article
      header
        h2 3-CARE:
        p
          | Care for any life-threatening conditions first. Give the care that is needed, within the scope of your knowledge
          | and training. Continue to Check, Call and Care, providing continual care with these guidelines:
        ul
          li Monitor the person´s breathing, level os responsiveness, and overall condition.
          li Help the person rest in a comfortable position.
          li
            | If necessary, roll the person into the
            b  "recovery position"(1)
            | .
          li Keep the person from getting chilled or overheated.
          li Reassure the person.
          li
            | Help the person with medication: if it is safe, if the person is responsive and has in some way expressed
            | a need for help finding, preparing, and/or taking the madication.
        h4
          b (1)"Recovery Position":
          |  a person who is unresponsive or has an altered level of responsiveness should
          |                 be rolled into the recovery position. When placing a person in the recovery position, remember:
        ul
          li Support and protect the head while rolling the person;
          li Try to roll the person as one unit (head, back, and legs at the same time);
          li Roll the person into a position where the body will stay safely on its side;
          li Check the ABCs after you complete the roll.
      figure
        img(src="../images/recoveryPosition0.jpg" alt="recoveryPosition1" title="rec1")
        figcaption Recovery Position 1
        img(src="../images/recoveryPosition.jpg" alt="recoveryPosition2" title="rec2")
        figcaption Recovery Position 2
    article
      header
        h2 SECONDARY STEPS:
        p
          | Once you are confident that all life-threatening conditions have been addressed, perform a secondary assessment
          | to check for conditions that may not be as obvious. The secondary assessmente consists of three steps:
        h3 1- Ask SAMPLE questions:
        p
          | Interview the ill or injured person and any bystanders at the scene using the acronym SAMPLE to guide your questions:
        ul
          li S igns and symptoms
          li A llergies
          li M edications
          li P ast medical history
          li L ast oral intake(food or drink)
          li  E vents leading up to the emergency
        h3 2- Check the vital signs:
        ul
          li
            | Level of Responsiveness: is the person alert, sleepy, or confused? Is the person´s responsiveness changing?
          li
            | Breathing: listen for sounds. Is the breathing fast or slow? Shallow or deep? Painful?
          li Skin: Is skin dry or wet? An unusual colour or temperature?
        h3 3- Perform an Injury Check:
        p
          | look carefully for injuries that were not identified during the primary assessment. An injury check may involve
          | a focused examination or a hands-on check. If you find a medical-identification product during your check,
          | read it carefully.
        ul
          li
            | Level of Responsiveness: is the person alert, sleepy, or confused? Is the person´s responsiveness changing?
          li
            | Breathing: listen for sounds. Is the breathing fast or slow? Shallow or deep? Painful?
          li Skin: Is skin dry or wet? An unusual colour or temperature?
        h3 4- Focused Examination: 
        p
          | If the person is responsive and able to answer questions, do a focused examination. If the person´s condition
          | deteriorates, respond immediately.(call 9-1-1, provide care).
        ul
          li Explain that the purpose of the examination is to identify injuries.
          li  Ask the person if anything hurts or feels uncomfortable.
          li
            | If the person indicates an area of pain or concern, look at the area for signs of injury.
          li Ask focused questions about how the person feels.
        h3 5- Hands-on check: 
        p
          | If a person is breathing but unresponsive or unable to communicate, you may need to do a hands-on check. Begin
          | by cheking the head for injuries, and then work downward, focusing on the chest, abdomen, and legs before
          | checking tha arms.
