@font-face {
    font-family: 'FonteLogo';
    src: url("../fonts/LoveYaLikeASister.ttf");
}

#mainheader{
    margin: 50px 10px 30px 0px;
    padding: 20px 10px 20px 20px;
    font-size: 20px;
    font-family: 'FonteLogo', cursive;
    color: rgb(68, 10, 10); 
    width: 97%;
    height: 100%;
    position: relative;
    z-index: 0;
    background-image: url("../images/history.jpg");
    opacity: .9;
}

div#interface img#icon {
    position: absolute;
    left: 965px;
    top: 180px;
}    

nav {
    position: absolute;
    z-index: 1;
    top:5px;
}
nav a:hover {
    color:black;
}
nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
 nav ul li {
    float: left;
    width: 198.5px;
    height: 40px;
    background-color: rgb(59, 7, 102);
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    margin-right: 2px;
}
  nav ul li a {
     text-decoration: none;
     color: white;
     display: block; 
     transition: background-color 1s;
 }

 ul li a:hover {
     background-color:#be2525;
 }
 nav ul li ul li {
     display: none;
 }
 ul li:hover ul li {
     display:block;
 }

body {
    background-color: #dddddd;
    font-family: 'FonteLogo', cursive;
    font-size: 16px;
    color: black;
}  
div#interface{
    width: 1000px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    padding: 10px;
    font-family: 'FonteLogo', cursive;
}

section#body {
    display: block;
    text-align: justify;
    padding: 10px;
    width: 1000px;
    background-color: #ffffff;
    height: 45%;
    margin: -20px auto 0px auto;
    border-right: 1px #606060;
    font-family: 'FonteLogo', cursive;
    font-size: 20px;
}
h1#goal {
    background-image: url(../images/Why-blue-2.png);
    font-size: 20px;
}
#goal {
    display: block;
    text-align: justify;
    padding: 10px;
    width: 991px;
    height: 45%;
    margin: -20px auto 0px auto;
    background-color: #ffffff;
    font-family: 'FonteLogo', cursive;
    font-size: 20px;
}
.draw {
    position: relative;
    left: 50%;
    margin-left: -100px; 
    z-index: 0;
}
#cpr {
    position: left;
}
footer {
    margin: -20px auto 0px auto;
    background-color: #ffffff;
    clear: both;
    border-top: 1px solid #606060;
    width: 76.5%;
}
footer p {
    text-align: center;
}
p {
    font-family:'FonteLogo', cursive;
    font-size: 20px;
    text-align: justify;
    text-indent: 50px;
}

 

